header{
    background-color: #BBBBBB;

}
.navegacion li{
    display: inline;
    margin: 0 0 0 15; /*separar cada li a la izquiera don 15px*/
}
.navegacion a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}